<mat-form-field class="mg-b2 full-width" appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput name="amount" type="number" [disabled]="isLoading" #amount [formControl]="amountFormControl"
        required (keyup)="onAmountChange(amount.value)">
    <mat-error *ngIf="amountFormControl.hasError('required')">
        Amount is required!
    </mat-error>
    <mat-error *ngIf="!amountFormControl.hasError('required') && amountFormControl.hasError('max')">
        Amount exceeds balance of {{ balance }}!
    </mat-error>
    <mat-hint align="start" *ngIf="isLoading">Loading... <i class="fa-solid fa-spinner fa-spin"></i></mat-hint>
    <mat-hint align="start" *ngIf="!isLoading && balance">Balance is: {{ balance }}</mat-hint>
</mat-form-field>