<div class="content-card">
    <mat-card class="animate__animated animate__fadeIn">
        <mat-card-title>Welcome</mat-card-title>
        <mat-card-subtitle>Please select the in which mode you would like to use the application!</mat-card-subtitle>
        <mat-card-content>
            <div class="full-width ta-c">
                <app-cybr-btn class="mg-2" (clicked)="selectOffline()" label="Offline" color="warn"></app-cybr-btn>
                <app-cybr-btn class="mg-2" (clicked)="selectOnline()" label="Online" color="primary"></app-cybr-btn>
            </div>
        </mat-card-content>
    </mat-card>
</div>