<div class="content-card">
    <mat-card>
        <mat-card-title>Tx Builder</mat-card-title>
        <mat-card-subtitle>Build a transaction locally and sign it on a secure machine offline.</mat-card-subtitle>
        <mat-card-content>
            <form>
                <app-blockchain-selector (blockchainSelected)="setSelectedBlockchain($event)">
                </app-blockchain-selector>
                <div *ngIf="client" [ngSwitch]="selectedBlockchain">
                    <app-eth-tx-form *ngSwitchCase="Blockchains.Ethereum" [client]="client"
                        (rawTxBuilt)="setRawTx($event)">
                    </app-eth-tx-form>
                    <app-eth-tx-form *ngSwitchCase="Blockchains.Polygon" [client]="client"
                        (rawTxBuilt)="setRawTx($event)">
                    </app-eth-tx-form>
                    <app-eth-tx-form *ngSwitchCase="Blockchains.Binance" [client]="client"
                        (rawTxBuilt)="setRawTx($event)">
                    </app-eth-tx-form>
                    <app-eth-tx-form *ngSwitchCase="Blockchains.Avalanche" [client]="client"
                        (rawTxBuilt)="setRawTx($event)">
                    </app-eth-tx-form>
                    <app-eth-tx-form *ngSwitchCase="Blockchains.Harmony" [client]="client"
                        (rawTxBuilt)="setRawTx($event)">
                    </app-eth-tx-form>
                    <app-btc-tx-form *ngSwitchCase="Blockchains.Bitcoin" [client]="client"
                        (rawTxBuilt)="setRawTx($event)">
                    </app-btc-tx-form>
                    <app-btc-tx-form *ngSwitchCase="Blockchains.Litecoin" [client]="client"
                        (rawTxBuilt)="setRawTx($event)">
                    </app-btc-tx-form>
                    <app-default-tx-form *ngSwitchDefault [client]="client" (rawTxBuilt)="setRawTx($event)">
                    </app-default-tx-form>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card class="animate__animated animate__fadeIn result-card" *ngIf="rawTx">
        <div class="result">
            <div class="header">
                <div>
                    <strong>Raw transaction</strong>
                </div>
                <div>
                    <button type="button" mat-icon-button color="accent" [appCopyClipboard]="rawTx">
                        <mat-icon fontSet="fa" fontIcon="fa-copy"></mat-icon>
                    </button>
                </div>
            </div>
            <em>{{ rawTx }}</em>
        </div>
    </mat-card>
</div>