<div class="animate__animated animate__fadeIn" *ngIf="client">
    <app-address-bar label="Transferring from" [client]="client"
        (addressChanged)="setFrom($event)"></app-address-bar>
    <app-amount-bar [client]="client" [address]="tx.from"
        (amountChanged)="setAmount($event)">
    </app-amount-bar>
    <app-address-bar label="Transferring to" [client]="client"
        (addressChanged)="setTo($event)">
    </app-address-bar>
    <mat-form-field class="full-width mg-b2" appearance="fill">
        <mat-label>Gas/Fee</mat-label>
        <input type="number" matInput name="feeOrGas" required [min]="minFeeOrGas" [(ngModel)]="tx.feeOrGas" />
        <mat-error>Minimum fee is {{minFeeOrGas}}</mat-error>
        <mat-hint align="start" *ngIf="feeEstimationLoading">Loading... <i class="fa-solid fa-spinner fa-spin"></i></mat-hint>
        <mat-hint align="start" *ngIf="!feeEstimationLoading">Gas or fee in the smallest unit on given blockchain (wei, satoshi,...etc)</mat-hint>
        <mat-hint align="end" *ngIf="nativeSymbol && poweredDecimals && tx.feeOrGas">{{toNative(tx.feeOrGas)}} in {{nativeSymbol}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width mg-b2" appearance="fill">
        <mat-label>Memo</mat-label>
        <input type="text" matInput #memo name="memo" maxlength="50" [(ngModel)]="tx.memo" placeholder="Memo for exchange">
        <mat-hint align="end">{{memo.value.length}} / 50</mat-hint>
    </mat-form-field>
</div>
<div class="ta-r">
    <app-loading-button label="Build" [isDisabled]="tx.isInvalid()" [isLoading]="isLoading" (clicked)="build()">
    </app-loading-button>
</div>