<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button (click)="sidenav.toggle()">
        <div class="navTrigger" [class.active]="isSideNaveOpen">
            <i></i><i></i><i></i>
        </div>
    </button>
    <strong class="mg-l2">D4FT Wallet</strong>   
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" mode="side" (openedChange)="sideNavOpened($event)">
        <mat-divider></mat-divider>
        <app-menu [items]="menuItems" (navigated)="sidenav.toggle()"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>