<div class="content-card">
    <mat-card>
        <mat-card-title>Generate key pair</mat-card-title>
        <mat-card-subtitle>You can use this utility to derive a private and public key from a mnemonic keyphrase.</mat-card-subtitle>
        <mat-card-content>
            <form>
                <app-blockchain-selector (blockchainSelected)="setSelectedBlockchain($event)">
                </app-blockchain-selector>
                <div class="animate__animated animate__fadeIn" *ngIf="client">                    
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Mnemonic keyphrase</mat-label>
                        <input matInput name="mnemonic" type="text" [(ngModel)]="mnemonic">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Derivation path</mat-label>
                        <input matInput name="keypath" type="text" [(ngModel)]="keypath">
                        
                    </mat-form-field>
                </div>
                <div class="ta-r">
                    <app-loading-button label="Generate" [isDisabled]="!(mnemonic)" (clicked)="sign()">
                    </app-loading-button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card class="animate__animated animate__fadeIn result-card" *ngIf="keypair">
        <div class="result">
            <div class="header">
                <div>
                    <strong>Key pair</strong>
                </div>
                <div>
                   
                    Copy private key:
                    <button type="button" mat-icon-button [appCopyClipboard]="keypair.privateKey">
                        <mat-icon fontSet="fa" fontIcon="fa-copy" title="Copy only private key"></mat-icon>
                    </button>
                </div>
            </div>
            privatekey: <em>{{ keypair.privateKey }}</em>
            <br/>
            public address: <em>{{ keypair.publicAddress }}</em>
        </div>
    </mat-card>
</div>