@use "@angular/material"as mat;
@include mat.core();

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

$base-gap: 5;

@for $i from 0 through 10 {
  .mg-#{$i} {
    margin: #{($base-gap * $i)}px !important;
  }

  .mg-l#{$i} {
    margin-left: #{($base-gap * $i)}px !important;
  }

  .mg-r#{$i} {
    margin-right: #{($base-gap * $i)}px !important;
  }

  .mg-b#{$i} {
    margin-bottom: #{($base-gap * $i)}px !important;
  }

  .mg-t#{$i} {
    margin-top: #{($base-gap * $i)}px !important;
  }

  .mg-y#{$i} {
    margin-top: #{($base-gap * $i)}px !important;
    margin-bottom: #{($base-gap * $i)}px !important;
  }

  .mg-x#{$i} {
    margin-left: #{($base-gap * $i)}px !important;
    margin-right: #{($base-gap * $i)}px !important;
  }

  .pd-#{$i} {
    padding: #{($base-gap * $i)}px !important;
  }
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.full-width {
  width: 100%;
}