<mat-form-field class="full-width" appearance="fill">
    <mat-label>Blockchain</mat-label>
    <input type="text" placeholder="Select blockchain" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete name="blockchain" #auto="matAutocomplete" (optionSelected)="setBlockchain($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            <mat-icon class="mg-r1" [svgIcon]="getIcon(option.blockchain)"></mat-icon>
            <span>{{ option.name }}</span>
        </mat-option>
    </mat-autocomplete>
    <button mat-icon-button matPrefix (click)="reset()" [disabled]="resetDisabled">
        <mat-icon fontSet="fa" fontIcon="fa-xmark"></mat-icon>
    </button>
</mat-form-field>