<div class="animate__animated animate__fadeIn" *ngIf="ethTx">
    <div class="mg-b4">
        <mat-radio-group color="primary" [(ngModel)]="ethTx.txMode">
            <mat-radio-button class="mg-r2" *ngFor="let txMode of [0,1]" [value]="txMode">
                {{EthTxMode[txMode]}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="animate__animated animate__flipInX" *ngIf="ethTx.txMode === EthTxMode.Erc20">
        <app-address-bar label="Contract address" [client]="client" (addressChanged)="setContract($event)">
        </app-address-bar>
    </div>
    <app-address-bar label="Transferring from" [client]="client" (addressChanged)="setFrom($event)">
    </app-address-bar>
    <app-amount-bar [client]="client" [address]="ethTx.from" [contractAddress]="ethTx.contractAddress"
        (amountChanged)="setAmount($event)">
    </app-amount-bar>
    <app-address-bar label="Transferring to" [client]="client" (addressChanged)="setTo($event)">
    </app-address-bar>
    <mat-form-field class="full-width mg-b2" appearance="fill">
        <mat-label>Gas</mat-label>
        <input type="number" matInput name="feeOrGas" required [min]="minFeeOrGas" [(ngModel)]="ethTx.feeOrGas" />
        <mat-hint align="start">Gas limit in wei.</mat-hint>
    </mat-form-field>
</div>
<div class="ta-r">
    <app-loading-button label="Build" [isDisabled]="ethTx.isInvalid()" [isLoading]="isLoading" (clicked)="build()">
    </app-loading-button>
</div>